.buttonPrimary {
    background: var(--secondary) !important; 
    color: var(--dark) !important;
    padding: 10px 18px;
    border-radius: var(--radius);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.buttonPrimary:hover {
    background: #b8962f !important;
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.7);
}

.buttonDanger {
    background: #a30000 !important;
    color: #fff !important;
    padding: 10px 18px;
    border-radius: var(--radius);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.buttonDanger:hover {
    background: #7a0000 !important;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}