.selectorWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.select {
    padding: 10px 16px;
    background: var(--light);
    border: 2px solid var(--primary);
    color: var(--dark);
    font-weight: 600;
    border-radius: var(--radius);
    cursor: pointer;
    transition: 0.2s ease;
}

.select:hover {
    border-color: var(--primary-dark);
}

.select:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary);
}